# ------------------------
# Python caches
# ------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd

# ------------------------
# Virtual environment
# ------------------------
venv/
env/
*.venv

# ------------------------
# Logs and experiment files
# ------------------------
mlruns/

# ------------------------
# Models
# ------------------------
models/

# ------------------------
# Dataset
# ------------------------
data/raw/
data/processed/

# ------------------------
# IDE / editor files
# ------------------------
.vscode/
.idea/
*.swp

# ------------------------
# OS files
# ------------------------
.DS_Store
Thumbs.db

# ------------------------
# Python packaging
# ------------------------
*.egg-info/
dist/
build/
